.transactionTable {
    max-width: 600px;
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;
}

thead th {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: left;
    border: 2px solid black;
}

tbody tr:nth-child(odd) {
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: lightgray;
}

td {
    padding: 10px;
    border: 2px solid black;
    text-align: left;
}